body {
  background: #ebebe7;
}

h1, h2 {
  font-family: 'Trebuchet MS', sans-serif;
  color: #b6282d;
  text-align: center;
}

p, a {
  font-family: 'Trebuchet MS', sans-serif;
  color: #3c3c3c;
  text-align: center;
}

p.padd {
  padding-right: 100px;
  padding-left: 100px;
}

li {
  font-family: 'Trebuchet MS', sans-serif;
  color: #3c3c3c;
}

th, td {
  font-family: 'Trebuchet MS', sans-serif;
  color: #3c3c3c;
  padding: 20px;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  text-align: center;
}

ol.myOL {
  display: inline-block;
  text-align: left;
}
