body {
  background: #ebebe7;
}

h1 {
  font-family: 'Trebuchet MS', sans-serif;
  color: #b6282d;
}

h2 {
  font-family: 'Trebuchet MS', sans-serif;
  color: #b6282d;
}

p, a {
  font-family: 'Trebuchet MS', sans-serif;
  color: #3c3c3c;
}

.center {
  justify-content: center;
}
